header {
  background-color: #f0f0f0;
}

footer {
  background-color: #f0f0f0;
}

input {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
}

button {
  width: 20px;
  height: 55px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hili {
  font-weight: bold;
}

.desBox {
  margin: 20px;
}
